<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><!-- Required meta tags --><meta charset="utf-8"></meta><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta><!-- Bootstrap CSS --><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"></link><title>Охта Молл</title></head><meta http-equiv="Refresh" content="300"></meta><body>
    
<h1>Посетители в ТЦ</h1>

    
<div class="col-lg-6 col-xl-5">
        
<div class="w-100">
            
<div class="row">
                
<div class="col-sm-6">
                    
<div class="card flex-fill">
                        
<div class="card-header">
                            <span class="badge badge-primary float-right">{ДатаВремя}</span>
                            
<h5 class="card-title mb-0">Всего</h5>
                        </div>
                        
<div class="card-body my-2">
                            
<div class="row d-flex align-items-center mb-4">
                                
<div class="col-8">
                                    
<h2 class="d-flex align-items-center mb-0 font-weight-light">
                                        {Всего} из {Лимит}
                                    </h2>
                                </div>
                                
<div class="col-4 text-right">
                                    <span class="text-muted">{ВсегоПроцент}</span>
                                </div>
                            </div>

                            
<div class="progress progress-sm shadow-sm mb-1">
                                
<div class="progress-bar bg-primary" role="progressbar" style="width: {ВсегоПроцент}"></div>
                            </div>
                        </div>
                    </div>
                    
<div class="card flex-fill">
                        
<div class="card-header">
                            <span class="badge badge-info float-right">{ДатаВремя}</span>
                            
<h5 class="card-title mb-0">Динамика за час</h5>
                        </div>
                        
<div class="card-body my-2">
                            
<div class="row d-flex align-items-center mb-4">
                                
<div class="col-8">
                                    
<h2 class="d-flex align-items-center mb-0 font-weight-light">
                                        {ДинамикаЧас}
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
<div class="col-sm-6">
                    
<div class="card flex-fill">
                        
<div class="card-header">
                            <span class="badge badge-warning float-right">{ДатаВремя}</span>
                            
<h5 class="card-title mb-0">Динамика 15 мин</h5>
                        </div>
                        
<div class="card-body my-2">
                            
<div class="row d-flex align-items-center mb-4">
                                
<div class="col-8">
                                    
<h2 class="d-flex align-items-center mb-0 font-weight-light">
                                        {Динамика15Мин}
                                    </h2>
                                </div>

                            </div>

                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    

</body></html>